.node_modules/
.env
.list
.pdf
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
jspm_packages/
.pnpm-debug.log
.pnpm-store/
dist/
build/
.next/
.nuxt/
